[2016-05-04 15:13] cbetta opened #2 "Pagination"
Not all APIs or methods in the Node library support pagination. Once this has been added we can add pagination to the appropriate CLI methods.

[2016-05-04 15:14] cbetta opened #3 "Confirmation of "dangerous" actions"
Currently buying and cancelling numbers is free. It would be great to add a confirmation step.

[2016-05-04 16:14] #3 closed, assigned to nobody

[2016-05-04 16:15] cbetta opened #5 "Use NI Basic to automatically determine country code"
Currently the `number:add` and `number:cancel` require a country code, even though this should be derivable from the number.

A good idea would be to derive this using Number Insights Basic but this doesn't seem to be present in the Node lib.

[2016-05-04 17:37] cbetta opened #7 "Remove temporary install instructions from README"
Just a reminder to do so before first release.

[2016-05-05 11:10] cbetta opened #8 "Verify credentials on setup"
Currently we do not actually verify the credentials on setup. We should probably do so, maybe make a simple balance query and see if it fails.

[2016-05-05 23:01] cbetta opened #9 "Add setup:number"
@sammachin could you clarify what API call you see this mapping too? I'm having difficulty determining this.

From the doc:

[code]

[2016-05-09 09:36] #5 closed, assigned to nobody

[2016-05-09 10:16] #2 closed, assigned to nobody

[2016-05-09 15:24] cbetta opened #13 "Truncated Help output on Node 6+"
Known issue with the commander library seems to truncate the help: https://github.com/tj/commander.js/issues/530

[2016-05-10 10:25] #7 closed, assigned to nobody

[2016-05-10 12:31] cbetta opened #14 "Deduplicate bin.js"
Currently `bin.js` has a lot of replication because `commander.js` doesn't support multiple aliases per command.  I've opened a proposal to add this: https://github.com/tj/commander.js/issues/531

[2016-05-10 15:46] #9 closed, assigned to nobody

[2016-05-10 15:47] cbetta opened #16 "Implement a full number:setup"
A simple version of this has currently been implemented for the `app` type but there are other types.

[2016-05-10 15:48] cbetta opened #17 "Send SMS through CLI"
Would be an interesting feature.

[2016-05-10 15:53] cbetta opened #18 "Fast buy functionality"
Currently the API allows for searching of numbers by certain specifications and then buying the number.

[code]

It would be interesting if we could achieve this all in 1 step:

[code]

The first 2 options have the downside of overcomplicating the now relatively simple `number:buy` and `number:search`. The latter has the downside of being a new command.

[2016-05-10 16:06] cbetta opened #19 "Add Travis CLI"
For this the project needs to be public.

[2016-05-10 16:36] cbetta opened #20 "Add unlink"
Current API does not support setting voiceCallbackType or voiceCallbackValue to blank which is a stopper for this.

[2016-05-10 16:58] #20 closed, assigned to nobody

[2016-05-10 17:23] cbetta opened #22 "Split documentation into multiple pages"
This will help with reading and browsing for answer. Proposed solution would be to have some simple samples in the README, and the full breakdown in `/docs`.

[2016-05-11 09:34] sammachin opened #23 "Balance doesn't say the currency"
The API will always return the account balance as EUR as that is the nexmo 'virtual currency' however within the dashboard users can opt to display their balance in USD but we still hold that internally as EUR.

Therefore can we add an EUR label to the output of the nexmo balance command in case they get confused.

[2016-05-11 10:00] sammachin opened #24 "Creating an app throws an error"
[code]

node v4.4.4
nexmo-cli v0.0.1

[2016-05-11 10:12] sammachin opened #25 "When creating an app the private key must be saved/displayed"
When I create an app the API responds with a private key, this is the only time that key is sent from Nexmo and can't be recorvered therefore it should be saved to a local file called something like [appid].key and a big red warning message displayed to the developer.

[2016-05-11 13:39] #23 closed, assigned to nobody

[2016-05-11 16:06] #18 closed, assigned to nobody

[2016-05-11 16:23] cbetta opened #31 "CLI version and NPM version are not linked"
Would be great if the CLI reads the version from NPM.

[2016-05-11 16:31] #31 closed, assigned to nobody

[2016-05-11 18:01] cbetta opened #32 "Get SMS price for a number"
[code]

https://docs.nexmo.com/tools/developer-api/account-pricing

[2016-05-11 18:07] #24 closed, assigned to nobody

[2016-05-12 09:15] sammachin opened #33 "Number insight"
Wondering if its worth implementing number insight (at least basic maybe std to?)

something line `nexmo insight:basic 447970513607`
or `nexmo insight:std 447970513607`

advanced might be harder as I think that needs a webhook url

[2016-05-12 14:36] #33 closed, assigned to nobody

[2016-05-12 15:12] #16 closed, assigned to cbetta

[2016-05-12 16:35] #25 closed, assigned to cbetta

[2016-05-12 21:50] leggetter opened #38 "Set User-Agent header so usage can be tracked"
It'll be really handy if we can track usage of the library via interactions with our API endpoints.

This will require an update to `nexmo-node` so that the `User-Agent` is added to the headers and so that the value can be configured.

Maybe a value of `nexmo-cli/node/{version}`.

`nexmo-cli` is the client. `node` is the runtime (maybe we'll create another CLI in another language?) and `{version}`

[2016-05-13 19:50] #32 closed, assigned to cbetta

[2016-05-13 20:04] cbetta opened #39 "Release 1.0.0 before announcement"

[2016-05-13 21:06] leggetter commented on #39
It may be that we should release a beta first since some of the functionality the CLI supports is also beta.

[2016-05-13 21:21] cbetta commented on #39
Hmm. Probably just bump to 0.1.0 then until the beta stuff is final.

[2016-05-13 21:34] #19 closed

[2016-05-16 09:25] sammachin opened #41 "Strip leading + on any number."
If the user enteres a number with a + the cli should strip that off currently you get a 'method failed' errror

`nexmo price:sms +447970513607`
`method failed`

[2016-05-16 17:09] cbetta commented on #41
Let's do this everywhere numbers are used.

[2016-05-17 10:44] leggetter opened #43 "nexmo insight:standard throws exception with SMS Shortcode"
### Steps to reproduce
[code]

### Expected behavior

I would not expect an exception.

### Actual behavior

As above, we get an exception logged to the console.

### System configuration
**Node version**: v5.7.1

**NPM version**: 3.6.0

**Operating system**: OSX 10.11.4

[2016-05-17 10:52] cbetta commented on #43
@leggetter as I don't have a shortnumber, can you run with `--debug` and post the API result?

[2016-05-17 10:52] cbetta commented on #43
Also does the API support this?

[2016-05-17 10:56] leggetter commented on #43
[code]

@cbetta - Will DM you the number.

[2016-05-17 19:51] cbetta commented on #43
@leggetter the number is in the debug...

[2016-05-29 03:03] kevinprince opened #47 "CLI balance does not reflect Dashboard balance"
### Steps to reproduce
Called nexmo balance on cli

<img width="190" alt="screen shot 2016-05-28 at 8 00 16 pm" src="https://cloud.githubusercontent.com/assets/87190/15631148/fc0f8e7c-250e-11e6-8326-6b0178ed5a93.png">
<img width="257" alt="screen shot 2016-05-28 at 8 00 25 pm" src="https://cloud.githubusercontent.com/assets/87190/15631149/fc100aa0-250e-11e6-89bf-9ebfe89e5a13.png">

### Expected be

[2016-05-29 09:56] cbetta commented on #47
@leggetter seems like a design choice? I take it the API returns the actual balance and the Dashboard returns a user friendly approximation?

[2016-05-29 10:00] leggetter commented on #47
This doesn't look like a CLI bug, but worth checking the API response.

Will do this on Tuesday📆

[2016-05-29 10:47] cbetta commented on #47
@leggetter don't think it's a bug in the API or the CLI really. As Nexmo charges in fractions of Euro cents it makes sense the balance is a fraction as well. The only problem really is that the API returns a more accurate value than the dashboard displays. The real question is: is this an issue. It might be worth documenting in the docs here or on the dashboard.

[2016-05-30 20:55] sammachin opened #50 "The number list should show the total number of numbers in verbose mode"
### Steps to reproduce
I have more than 10 numbers on my account, nexmo numbers:list only returns the first 10, in the dashboard I can see more. By default the API pagenates at 10 numbers.

### Expected behavior
CLI should show all numbers on the account

### Actual behavior
CLI only shows the 10 'lowest' numbers

### System configuration
**Node version**:

**NPM version**:

**Operating system**:

[2016-05-30 21:53] cbetta commented on #50
@sammachin almost every call that returns a list supports the `--page` and `--size` params as per the API. You can use these to request more numbers and paginate.

[2016-05-31 00:31] sammachin commented on #50
Yeah realised that just after I posted! However I think it would be good to
display the total numbers on the account to highlight that's there's more
results. Looks like the API returns a count param.

On Mon, 30 May 2016 at 14:53, Cristiano Betta <notifications@github.com>
wrote:

[2016-05-31 07:21] cbetta commented on #50
@sammachin sure, maybe update the ticket? Would also be cool to be able to config the default page size. Thinking `nexmo config size 25`. This then stores a `size=25` to the `.nexmorc` file

[2016-05-31 15:16] sammachin commented on #50
Yep so 2 changes,

1) add `nexmo config size XX` command to set a default request size
2) When returning a list of items print the total number of results availible at the top (maybe only in verbose mode?)

[2016-05-31 15:32] cbetta commented on #50
@sammachin agreed. can you split into 2 issues?

[2016-06-06 15:56] #13 closed

[2016-06-06 15:59] #41 closed

[2016-06-07 09:19] sammachin commented on #47
The dashboard is rounding off for the sake of UX, I think the CLI should show the accurate balance but this could confuse some users, However having a balance to fraction of a cent is useful if you are testing a single low price message and want to confirm the charge.
One solution would be to have the CLI round off the same way as dashboard but then show the 'raw' value with the `--verbose` flag,

[2016-06-07 09:23] leggetter commented on #47
Or have results flagged in some way so that it's clear why they're not the same as the dashboard?

[2016-06-07 09:24] sammachin commented on #43
@leggetter Were you trying to run number insight against an SMS shortcode? (eg 89101) These type of numbers are country and sometimes even carrier specific so aren't really 'phone numbers' in the sense of the e.164 numbering plan.
Number Insight only works against e.164 numbers that you can dial/sms from ANY phone.

Also FYI LVN's are a term for the e.164 numbers that Nexmo sells  for Voice and or

[2016-06-07 09:31] leggetter commented on #43
[code]

It wasn't a short code.
456***********

[2016-06-07 10:25] sammachin commented on #50
So lets keep this ticket as the one for displaying the total number of results:

When a list of results is returned and the user has selected verbose mode then a line at the top of the table should be printed saying ` Displaying X of Y results`  where X is the number of results and Y is the value of `count` in the response from the API

[2016-06-07 10:26] sammachin opened #51 "Allow user to configure default size param"
As as user I want to be able to set the default number of results to be displayed, currently this is set to 10 across the system.

add `nexmo config size XX` command to set a default request size

This value should then be saved in the .nexmorc file and used in the appropriate requests, unless a `--size` param is passed with the request.

[2016-06-07 10:55] leggetter commented on #51
`size` without context is confusing. `default-list-size`?

I'm not too keen on this idea in general. If we provide a `X of Y` in the response for #50 then I don't think this offers that much benefit.

[2016-06-07 11:49] sammachin commented on #43
Ok this looks to be a bug with the nexmo-node library when making a request for an invalid number to the insight standard API it works when requesting insight basic (although exposing the error could be better)

BASIC:
[code]

STANDARD:
[code]

[2016-06-07 13:17] sammachin commented on #43
So having discussed this with @cbetta its not a nexmo-node issue its the CLI not handling the error nicely, so this needs to be fixed in the CLI.

If it seens a status other than 0 returned it should print the contents of the status_message to the screen, this should work in both normal and verbose modes

[2016-06-07 17:55] kevinprince commented on #47
maybe just get something like:

[code]

[code]

[2016-06-16 12:06] cbetta commented on #39
Closing as announcement already happened

[2016-06-16 12:06] #39 closed

[2016-06-16 12:06] cbetta opened #52 "Add autocomplete"
Seems https://www.npmjs.com/package/commander-tabtab should do what we want (at least on OSX/Linux)

[2016-06-17 15:06] cbetta opened #53 "Can't buy numbers"
I seem to be getting a new error for something that used to work. Wonder if the underlying API changed.

[code]

[2016-06-17 15:53] leggetter commented on #53
Could be that the underlying library changed? Maybe it's not passing on
parameters correctly?

[2016-06-17 20:00] cbetta commented on #53
Closes by #54. Seems we started using NI Advanced for some reason at some point. Added a test and fix.

[2016-06-17 20:00] #53 closed

[2016-06-17 20:10] #47 closed

[2016-06-17 20:23] #43 closed

[2016-06-18 21:18] cbetta commented on #51
@leggetter regarding your comment, I guess @sammachin's goal is to make this tool as useful as possible for demos. And I guess he feels like he wants to be able to show more numbers?

[2016-06-20 08:34] sammachin opened #57 "SMS Pricing for Country can be a range"
For some counties (for example GB) the SMS Price can vary depending on the network being sent to, the default country price returned is 0.0314 whereas all the known mobile networks are 0.0333. (The 0.0314 is for `UNKNOWN` e.g. landlines)

The problem for users is that the price:country command without -v just returns the default country price and in the UK case nearly all mobile will be slightly h

[2016-06-20 09:19] cbetta commented on #57
Makes sense.

[2016-06-20 09:23] leggetter commented on #57
of the lowest and highest values returned by the API so for GB it should
show 0.0314 - 0.0333 EUR

"response" or do we mean "output"?

On Mon, 20 Jun 2016, 10:19 Cristiano Betta, <notifications@github.com>
wrote:

[2016-06-20 09:31] sammachin commented on #57
whats the difference between response and output?

On Mon, Jun 20, 2016 at 10:23 AM Phil Leggetter <notifications@github.com>
wrote:

[2016-06-20 09:34] cbetta commented on #57
BTW when I designed the CLI the goal for the non verbose output has always been to be predictable so that it can be used in a Unix environment to be piped into other commands. For that reason `0.0314 EUR` is a lot more useful than a range. Are we sure we're happy to drop this?

[2016-06-20 09:37] leggetter commented on #57
In the context of the nexmo-cli the response could be thought of as the response from the API that is being called or the output from the command. If we mean the latter then `output` is clearer.

For purposes of my education, how is the range determined? Does this required two underlying API queries?

I guess it depends on whether "may mislead users causing additional support overhead" can be just

[2016-06-20 09:39] sammachin commented on #57
fair point, To me the response from the Dev API and/or our pricing model, the perfect option would be to clean up the prices but I didn't get anywhere with that.

Just returning the max price might be another option, especially as there's usually very little variation, again we'd need to check if nay countries have a very high outlying price.

[2016-06-20 09:41] cbetta commented on #57
It would remain 1 API call.

[2016-06-20 09:49] sammachin commented on #57
Out of interest the website just shows the higher price for "All Networks" which adds weight to the case for showing the max, at least we would be consistent with the web site.
<img width="883" alt="screen shot 2016-06-20 at 10 48 05" src="https://cloud.githubusercontent.com/assets/187645/16189961/b8645b58-36d4-11e6-8444-96530df0fe32.png">

[2016-06-20 09:57] cbetta commented on #57
So maybe thats a better idea?

[2016-06-20 10:02] #22 closed

[2016-06-20 10:06] leggetter commented on #57
+1 for showing MAX price

[2016-06-20 10:50] leggetter opened #59 "Create CLI steering guidelines"
What are the main motivations for the CLI? Who is it for? How should it be used?

Some background: We decided to create the CLI so that we could more quickly (in a few commands) get to the point where we could start building (writing code) Voice API v2 functionality.

We then realised that a CLI is just really handy. We can perform quick number lookups (insight), buy numbers, check account balance

[2016-06-28 14:44] leggetter opened #62 "When using --confirm with `number:buy` (or anytime, really) the confirmation should show the number that was purchased"
It's specifically a problem if you do something like the following which purchases the first number returned from a search:

[code]

Because the output of the first command isn't show and is instead piped to `sed` and then accessed via `xargs`.

Result:

[code]

What number did I purchase?

There may be a way to also output the number via the above command. But this request seems reasonable none t

[2016-07-05 12:08] cbetta opened #63 "Add a way to inspect my API credentials"
Currently my go-to method to get my API key and secret is to run: `cat ~/.nexmorc` as it is faster than going to my dashboard. It might be interesting to just add this to the CLI itself. It would also be handy when trying to see what API credentials a project is using.

[2016-07-06 16:26] leggetter opened #64 "Initialization error should state "cannot initialize the CLI" and not "library"/"SDK""
When you try to execute a command and `nexmo setup` hasn't been run you will see an error as outlined in the title of this issue. It should be changed to state the "CLI" cannot be initialized..

[2016-07-07 07:09] leggetter opened #66 "Tests fail on Node 6.3.0 due to MockFS"
Problems with tests on Node 6.3.0 due to some errors in MockFS. @cbetta has raised a ticket on tschaub/mock-fs#137

[2016-07-07 07:12] leggetter opened #67 "Add CHANGELOG.md"
We should keep track of what changes in releases in a CHANGELOG

[2016-07-07 08:01] cbetta commented on #67
Yeah and let's add it to the changeling on the tags too.

[2016-07-07 09:19] cbetta commented on #64
@leggetter is this still an issue or did you fix this?

[2016-07-07 09:19] cbetta commented on #64
FYI I see this error:

[code]

[2016-07-07 09:24] #66 closed

[2016-07-07 11:05] cbetta commented on #38
@leggetter did this get added to the node lib yet?

[2016-07-07 11:15] cbetta commented on #59
@leggetter good idea. Do you have an idea how to start this?

I also think that based on this we could look at the next API and see what's missing in the CLI, and then map out what we think (based on these guidelines) should be added to the CLI next.

[2016-07-07 12:30] sammachin opened #73 "Can't set the answer_method when updating an app"
when I update an app and set —answer_method POST it doesn’t put an & in the query string so answer_method=POST gets added to the URL

[code]

[2016-07-07 12:31] sammachin commented on #73
in the PUT request there is the value `answer_method=POST&&` seems like the & is in the wrong place

[2016-07-07 12:38] cbetta commented on #73
@sammachin odd enough works for me

[2016-07-07 12:39] cbetta commented on #73
Oh wait it doesn't error. It just doesn't do it right

[2016-07-07 12:39] cbetta commented on #73
Probably a problem in the Node lib. Checking

[2016-07-07 12:41] cbetta commented on #73
Problem is also there in `app:create`

[2016-07-07 12:50] sammachin opened #75 "Alias every app command to apps and vice versa"
IN the commands the term app and apps should be interchangable, sometimes the plural makes more sense.

eg `nexmo app:create` or `nexmo apps:list` are logical
However `nexmo apps:create` and `nexmo app:list` should also still work.

[2016-07-07 12:59] cbetta commented on #73
@sammachin https://github.com/Nexmo/nexmo-node/pull/60 solves the problem. If you can push people to merge it we can update the dependency here too.

[2016-07-07 13:20] cbetta commented on #51
@leggetter @sammachin judgement on this? Implement or not?

[2016-07-07 16:02] tjlytle commented on #75
In the future, we should probably make the CLI commands / namespaces closely mirror the API paths. That of course is blocked by those being defined: https://github.com/Nexmo/client-library-specification/pull/8

[2016-07-07 16:05] sammachin commented on #75
I’m not so sure. The CLI isn’t meant to be a representation of the API its
an alternative to the dashboard, therefore the commands should be named for
ease of use as to what they are doing, in some scenarios we are making
multiple API calls from one CLI command.

On Thu, Jul 7, 2016 at 5:02 PM Tim Lytle <notifications@github.com> wrote:

[2016-07-07 16:05] tjlytle commented on #38
Not that I know of, but since there were no more comments on the threads, I merged in the change to the spec: https://github.com/Nexmo/client-library-specification/pull/13/files

[2016-07-07 16:13] tjlytle commented on #59
Feels to me like the CLI should:
- provide a CLI to the API (basically proxy the client library)
  - namespaces are mirrored
  - arguments match
- provide a higher level interface to common processes
  - internally are just a series of API calls
  - interactively describe what information is needed / suggest defaults

Not sure if that's exactly what @leggetter is looking for, but perhaps helpful.

[2016-07-08 06:51] cbetta commented on #59
I am not sure I agree with this. As @sammachin already pointed out somewhere else: the CLI is more of a UI than anything else. It's an alternative to the dashboard.

By limiting the CLI to what's possible in the API we're limiting the usability of the CLI. There's already some interesting stuff in the CLI that would be hard to do if it was just a 1:1 match to the API.

[2016-07-08 06:57] #73 closed

[2016-07-08 08:01] #75 closed

[2016-07-08 21:07] cbetta commented on #75
I agree with @sammachin on this. See #59 for details

[2016-07-11 16:06] tjlytle commented on #59
Sorry, those were two separate things. So provide a basic CLI to the API (essentially replace curl, when I just want to make a one off API call / potentially script some activity in the shell). This is the 1:1 mirror, and potentially something that can be generated from a solid API spec.

Then the second "provide a higher level interface to common processes" is (I think) exactly what @sammachin an

[2016-07-11 17:27] cbetta commented on #59
Ah cool, good to see we agree on not limiting it to a 1:1 map.

I initially agreed with you that getting the 1:1 mirror in there at the least but as I was writing this I was starting to feel this might not be the wisest idea.

Many of the API endpoints take a lot of different params in different combos, which would have to be mapped to optional flags. This would make the CLI bulky and complicated

[2016-07-11 18:06] tjlytle commented on #59
I think 1:1 mirror would be a future goal (but important to note its usefulness now) as some in-progress unification of the API should make that a far simpler process.

But if we do put that down to support in the future, it may be advantageous at this point to somehow distinguish between CLI commands that match the API directly, and those that are higher level (assemble multiple calls).

[2016-07-12 10:03] cbetta commented on #59
@tjlytle how do you imaging we distinguish? I imagine we could move all 1:1 under the `api` namespace.

E.g. `nexmo api:account:get-balance` vs `nexmo balance`

[2016-07-12 10:07] sammachin commented on #59
We did have a debate about what features should be added to the CLI early on, specifically things like sending an SMS or Verify.

IIRC We decided that the CLI should be a tool for managing your account settings not for actual traffic events, personally I still stand by that. Things like sending a message should be done with curl or httpie.

[2016-07-15 16:57] #67 closed

[2016-07-22 11:36] #50 closed

[2016-07-22 11:38] cbetta opened #80 "Add application_id to number:list"
Not sure if we can get this from the API, but if an app is assigned to a number it would be nice to add it to the table shown when running `number:list`.

[2016-07-22 11:41] cbetta commented on #64
Seems to no longer be an issue.

[2016-07-22 11:41] #64 closed

[2016-07-22 11:44] #17 closed

[2016-07-22 12:47] #57 closed

[2016-07-22 12:58] #8 closed

[2016-07-22 12:58] #62 closed

[2016-07-22 14:07] #63 closed

[2016-07-22 21:37] leggetter opened #81 "Private key can't be used as-is when downloaded"
If you try to use the private key when it's downloaded, upon signing you are likely to get an error:

If you're seeing errors such as `asn1 encoding routines:ASN1_CHECK_TLEN:wrong tag` then you should run the following on your key.txt:

[code]

It may be that there are newline characters in the downloaded file that need to be stripped. Or some other set of characters. I've been informed that it's

[2016-07-23 09:28] cbetta commented on #81
Please can you list the actual problem? I don't think that proposed solution does what you think it does. As it stands that `openssl` command throws the same error as you described, wether there's a trailing space, no trailing space, wether I saved the file myself or let the nexmo CLi save the file, etc.

Additionally I am able to generate a public key off the private key using: `ssh-keygen -y -e

[2016-07-23 09:31] cbetta commented on #80
It already does this:

[code]

The values are kept to what the underlying API returns.

[2016-07-23 09:31] cbetta commented on #80
@leggetter ^

[2016-07-23 09:32] #80 closed

[2016-07-23 09:55] leggetter commented on #80
Fab! I probably didn't try the verbose flag.

On Sat, 23 Jul 2016, 10:32 Cristiano Betta, <notifications@github.com>
wrote:

[2016-08-18 14:52] sammachin opened #83 "Setting a Voice link removes the SMS one"
If I have a number with a current linked SMS url (moHTTPUrl) and I then go to set a voice link for example to forward it to a tel number `nexmo link:tel 44..` it removes the SMS link.

I can set the SMS after the voice and it keeps both.

I should be able to set voice without removing sms.

[2016-08-18 15:05] cbetta commented on #83
@sammachin `link:tel` is a convenience method for `number:update`. For it to do what you suggest it would have to make another API call to merge the original data with what you provided... I 'd advise instead for now to just use `number:update` to see all variables.

[2016-08-22 13:46] sammachin opened #84 "Long Dutch Numbers can't be used"
We have some 'longer than normal' dutch numbers in inventory which support SMS.
for example +31 970 1024 0032

Unfortunalty the Number Insight API fails to validate them which means that you can't configure them using the CLI tool.

I've raised this as bug with number insight but putting here mainly for tracking

[2016-08-22 17:38] cbetta commented on #84
@sammachin can't be used for what?

[2016-08-24 07:58] cbetta opened #85 "`nexmo account` should not fail if not logged in"
Current if the nexmo cli is not logged in the `nexmo account` command errors. This should probably be caught nicely.

[code]

[2016-08-24 08:00] cbetta commented on #84
So the following doesnt work:

[code]

[2016-08-24 08:08] cbetta commented on #84
So the problem with this is in the API, not the CLI. We have a ticket on Jira to look into this.

It would be nice if we could replace the country lookup the country code from a static file (libphonenumber?) if NI fails.

[2016-08-24 08:15] cbetta opened #86 "Add a way to run the CLI without storing credentials"
I'm thinking it would be nice to be able to run the CLI without first signing in. This can be useful on shared PCs but mainly is also useful for running it as a one of command as part of build scripts or CI servers:

Example:

[code]

[2016-08-24 08:16] leggetter commented on #86
+1

On Wed, 24 Aug 2016, 09:15 Cristiano Betta, <notifications@github.com>
wrote:

[2016-08-24 08:19] cbetta commented on #81
@leggetter any update on this?

[2016-08-24 08:31] leggetter commented on #81
No. Will provide details when we get to a tutorial that requires a workflow
that demonstrates it.

On Wed, 24 Aug 2016, 09:19 Cristiano Betta, <notifications@github.com>
wrote:

[2016-08-24 10:46] cbetta opened #87 "Add Number Insights Advanced to CLI"
Seeing as there is a synchronous version of Number Insights Advanced we should probably add this to the CLI.

[2016-08-24 15:34] leggetter commented on #81
Steps to reproduce:

1. Create an App and save the private key

[code]

2. Attempt to create a JWT

Below `APPLICATION_ID` is the created application ID. `PRIVATE_KEY_FILE` is the name of the key file and is expected to be in the parent directory.

[code]

When executing the above code you'll see the error similar to:

[code]

3. Fix the Key File

To fix this you need to modify the keyfile:

[code

[2016-08-25 08:47] cbetta commented on #81
@leggetter is this signing process documented somewhere? Would love to reimplement in Ruby just to ensure it's not a Node issue.

Also: this signing doesn't actually make any API calls. After you fix the key and sign the token, does the API accept the signature?

[2016-08-25 08:49] leggetter commented on #81
@cbetta There's a Ruby example on this page https://docs.nexmo.com/voice/voice-api#first_call

The calls do succeed after fixing the key, yes.

It could be a Node thing. Although I think @sammachin suggested he'd seen a problem with Python too.

[2016-08-25 08:51] cbetta commented on #81
@leggetter followed the Ruby example and signing just works...

Going to try the Node sample next to ensure that it fails here.

[2016-08-25 08:56] cbetta commented on #81
Error confirmed. Interestingly the conversion you suggested throws the following error here:

[code]

[2016-08-25 09:03] leggetter commented on #81
@cbetta that looks like it can't find the file.

[2016-08-25 09:07] cbetta commented on #81
@leggetter it's most certainly there.

I noticed something else interesting:

I ran the app creation command without saving the key to file. I then copy pasted the key to a new file myself. I then re-ran the JS code and got the same error. This seems to suggest it's not an issue with the Node CLI but a deeper issue with either the key, or the JS code loading the key. Am I wrong?

[2016-08-25 09:14] leggetter commented on #81
Are you sure? Kidding! 😄

What if you run the Ruby code on the copied key? I'm wondering if it is Node specific handling of some sort of encoding.

[2016-08-25 12:22] cbetta commented on #81
@leggetter no issue in Ruby.

Could you do me a favor and try the same? Skip the CLI, make an API call using CURL or the Node lib, save the key to file yourself, and then run the Node command on it. If it fails at this point we need to probably look at the cert returned by the API, or at the correct way to load the key in Node.

I tried making it work in Python but I keep getting `ImportError: No

[2016-08-25 12:24] cbetta commented on #81
I managed to make the Python sample work (reinstall `pycrypto` which is not even listed as a dependency) and it works fine!

[2016-08-25 16:21] leggetter opened #88 "Create JWTs with command"
It would be great if the CLI could create a JWT. This functionality will eventually be within the library (we should probably add to `nexmo-node` for this), but it would be very handy to be able to quickly create a JWT.

Something like:

[code]

Open to improvements upon the above suggested command/parameters.

There may be a `jwt:validate` or `jwt:verify`. One thing to consider here is that we av

[2016-08-25 16:24] cbetta commented on #88
@leggetter so not too familiar as to what these JWTs and the private keys are used for yet so asking:

Could we use them as the authentication of the CLI? I'm just thinking if we need to add that in.

[2016-08-25 16:32] leggetter commented on #88
The JWTs are used as a replacement for Key/Secret. But only for some API resources.

In the future all APIs could use it and you could potentially do `nexmo setup --jwt {JWT}`

[2016-08-25 17:07] cbetta commented on #88
@leggetter cool. I think ideally down the line what should happen is you login, it verifies you, creates a JWT and stores that in the .nexmorc file (rather than the current username and password)

[2016-08-29 09:00] leggetter commented on #81
1) Make a CURL request to create the app:

[code]

2) Copy the output private key text and put into `private.key`

3) Run [this example](https://github.com/nexmo-community/nexmo-node-quickstart/blob/master/voice/outbound-call.js) and get an expected error relating to the fact newline characters haven't been replaced (likely cause):

[code]

3. Replace \n with real newline characters and run the sa

[2016-09-02 11:45] leggetter commented on #81
Changing the header and footer in the original downloaded keyfile also fixes the problem:

Current header: `BEGIN RSA PRIVATE KEY`
Current footer: `END RSA PRIVATE KEY`

Remove `RSA`:

Updated header: `BEGIN PRIVATE KEY`
Updated footer: `END PRIVATE KEY`

My present suggest is that the Application API should be updated to return the keyfile without the `RSA`. With `RSA` is PKCS#1. Without is PKCS#

[2016-09-02 12:04] cbetta commented on #81
Nice find! Seems indeed that the API should probably be updated.

[2016-09-10 16:39] leggetter opened #91 "Feature: Get a list of numbers associated with my application"
As I'm building apps I'm frequently thinking to myself "What numbers are associated with this application?"

It'd be great to be able to do something like:

[code]

And get a list of the numbers that are associated with the APP_ID.

For the moment, the only way I can do this is:

[code]

And manually look for my application ID in the output.

Open to the feedback that I'm just being lazy or rubbis

[2016-09-10 17:29] cbetta commented on #91
Would be easy to add a convenience method. Can look at this when I'm back.

On Sat, 10 Sep 2016, 09:39 Phil Leggetter, <notifications@github.com> wrote:

--
Cristiano Betta
+44(0)7518397784

[2016-09-29 13:48] cbetta commented on #88
@leggetter so looking into this now and trying to see what we can do and how

Your proposed workflow would be:

[code]

I think we should add this function but maybe also add a `--jwt` flag:

[code]

And in verbose this would look like this:

[code]

[2016-09-29 13:56] cbetta commented on #91
@leggetter isn't this visible in `nexmo app:show <app_id>`?

[2016-09-29 13:58] cbetta commented on #91
Ah ignore me, it doesn't

[2016-09-29 17:05] cbetta commented on #87
Awaiting merger of `nexmo/nexmo-node#66`

[2016-09-30 19:24] leggetter opened #95 "`npm install -g nexmo-cli` fails on `prepublish`"
### Steps to reproduce

Debug:

[code]

### Expected behavior

Should install without error

### Actual behavior

Errors as shown in log

See: https://github.com/npm/npm/issues/3059

### System configuration

**Node version**: v6.7.0

**NPM version**: 3.10.7

**Operating system**: Darwin 15.6.0

[2016-09-30 19:24] leggetter commented on #95
I've tried to reproduce this with Node v6.7.0 and npm v3.10.8 and the install succeeds. I don't have any modules installed as global and no local modules installed.

Anybody else?

[2016-10-02 06:45] cbetta commented on #95
I tried in Node 6.7.0 and NPM 3.10.3 and it worked fine.

Also prepublish should not be called on install should it?

[2016-10-02 06:50] cbetta commented on #95
Even tried this on 6.7.0/3.10.7 and still works.

[2016-10-03 09:17] leggetter commented on #95
You wouldn't expect `prepublish` to run upon install. But apparently it's does "by design" https://github.com/npm/npm/issues/3059

[2016-10-03 09:22] cbetta commented on #95
@leggetter we're not running NPM 1.2.0 though, and that issue is old.

Regardless: unless we can replicate this issue across multiple machines it's going to be hard to pinpoint the issue. I guess guidance for now for anyone having issue is to look at their NPM version and upgrade?

[2016-10-03 11:14] leggetter commented on #95
The debug log of failure shows that the version of NPM isn't an old version:

[code]

I wonder if the install was performed locally?!
https://docs.npmjs.com/misc/scripts (see `prepublish`)

In the log I can see:

[code]

[2016-10-03 12:14] cbetta commented on #95
@leggetter sure but the bug report is from an old version.

Can you try:

[code]

and then try reinstall again?

[2016-10-03 14:45] leggetter commented on #88
@tjlytle - how would you like this command to look in order to support additional claims?

[2016-10-03 14:53] tjlytle commented on #88
@leggetter Taking this as the current example:

    nexmo jwt:generate application_id key_file_path

`application_id` should be _optional_ (for future use), and allow setting arbitrary values (for future use). Perhaps something like (borrowed from HTTPie's usage):

    nexmo jwt:generate key_file_path application_id=abcd1234 subject=tjlytle acl="complex_value, with_spaces, and_commas"

[2016-10-08 13:23] leggetter commented on #88
Closed by #97

[2016-10-08 13:23] #88 closed

[2016-10-08 13:23] leggetter commented on #85
Closed via #94

[2016-10-08 13:23] #85 closed

[2016-10-08 13:24] leggetter commented on #81
Fixed with an API update. The problem was https://github.com/Nexmo/nexmo-cli/issues/81#issuecomment-244353601

[2016-10-08 13:24] #81 closed

[2016-10-08 13:28] leggetter commented on #95
AFAICT this problem resulted from installing `nexmo-cli` from a local version pulled from GitHub. That results in the `prepublish` script being run which then introduces local dependencies that the person had to install. Running `npm install` within the `nexmo-cli` directory would have done that.

So I don't see this as a problem.

[2016-10-08 13:28] #95 closed

[2016-10-10 08:13] cbetta commented on #95
@leggetter yeah that makes sense. I wonder if we can detect this kind of install and do something about it to prevent it.

[2016-10-14 16:59] leggetter opened #102 "nexmo apps:list --size does not show a list of the expected size"
In the following command I would expect 50 entries to be shown. But only 10 are shown.

[code]

[2016-10-15 12:52] cbetta commented on #102
Going off the debug log it seems the API does not return 50 items:

[code]

[2016-10-15 12:53] cbetta commented on #102
Found the problem: this API endpoint does not use `size` but `page_size`

[2016-10-18 09:35] #102 closed

[2016-10-23 10:00] leggetter opened #104 "Using `nexmo number:buy` with an account in trial mode shows `undefined` output"
### Steps to reproduce

1. Sign up for a new account
2. Set up the CLI to use the account API Key and API Secret
3. Try to buy a number
4. See `undefined` output

### Expected behavior

An appropriate error should be shown explaining why the command failed.

[2016-10-23 11:22] cbetta commented on #104
FYI this is what happens:

[code]
I need to see why that error message is not bubbling up

[2016-10-23 11:42] cbetta commented on #104
We figured out that the reason for this happening is that the Node library has some inconsistencies in when it returns the error in the error callback vs the response callback. In this case we are receiving an error with an `error-code-label` instead of a `message`.

I've opened ticket nexmo/nexmo-node#78 to see if we can improve this.

Additionally the API not giving us anything to work with eith

[2016-10-25 12:16] #104 closed

[2016-11-07 17:23] nzmark opened #106 "Feature: validate a JWT locally"
### Background

The CLI currently has a very useful feature to create a JWT using the `nexmo jwt:generate` command.

It would be similarly useful for developers to be able to validate a JWT that they have created, for instance in these scenarios:
- They have received an authentication error when calling a Nexmo API using a JWT provided to them
- They have their own custom code to create a JWT, rat

[2016-11-07 19:51] tjlytle commented on #106
Probably good to validate + output the decoded header / body. Especially for cases where a call is rejected, and you want to make sure the right `subject`, `applciation_id`, etc was passed.

[2016-11-07 21:07] cbetta commented on #106
I love it.

[2016-11-14 14:10] #87 closed

[2016-11-15 10:20] leggetter opened #107 "Remove --app_id flag from jwt:generate"
Since you can already specific an application ID by passing in a `application_id` value there is little point in having this specific flag.

Just do:

[code]

[2016-11-16 14:00] kapekost opened #108 "cannot change the application --type using app:update"
### Steps to reproduce

- Create an app no optional type specified (should default to 'voice')
- Try to modify the type to 'rtc' by using the app:update

### Expected behavior
The application should now have a type of 'rtc'

### Actual behavior
The application type is still 'voice'

### System configuration
**Node version**:
v5.12.0

**NPM version**:
3.8.6

**Operating system**:
Mac OS Sierra

[2017-01-10 10:24] leggetter opened #109 "[Discuss] Create Nexmo Application config file upon app creation"
The main motivation behind the potential need for a configuration file is that the `application_id` should always be saved somewhere upon application creation. There are other values that are returned from `POST /applications` that should also probably be stored by default and I believe we should consider making the Nexmo CLI do this by default.

[code]

As an initial suggestion:

1. Saving the `i

[2017-01-10 10:38] sammachin commented on #109
There is already an option to write the private key to a file on app creation,

I'm not sure how much benefit there is to writing the app id as its easy enough to get it in the list from `nexmo apps` if you miss it the first time.

Is the public key used for anything by the developer? I hadn't even noticed it TBH!

[2017-01-10 10:39] adambutler commented on #109
I think this should be one file or a directory as I wouldn't particularly like to add three files to the root of my project. Furthermore this would mean one exclusion would need adding to a `.gitignore` file.

There might even be potential for storing the certificates in the the keychain.

Secondly I personally would prefer prefixing the files with `.` and making the file name more general for exa

[2017-01-10 10:48] leggetter commented on #109
Yes, there is. But if you forget to save it that time then it's lost. Part of my suggestion is that this is always saved and that you have to opt-out rather than opt-in.

I've had the problem where I've not stored the application ID a number of times. Finding it again has been a bit of a hassle and in a lot of cases I've ended up just creating a new application instead. Again, I'd say it's somethi

[2017-01-10 12:31] cbetta commented on #109
Excellent discussion. FYI currently your API credentials are stored in `~/.nexmorc` or `./.nexmorc` depending on the project. This allows anyone to have __global__ API credentials, while overriding them on a __local__ level.

Anyway, I think we should focus less on the implementation, and more on the use cases here. What are we trying to achieve?

I agree that currently the CLI is very verbose, an

[2017-01-10 15:14] sammachin commented on #51
I'm still very much in favour of this, now that I have 20+ numbers in my account I have to add the --size=50 param every time I run `nexmo numbers` to check where my numbers are pointing.

[2017-01-10 15:17] sammachin commented on #109
I don't think it should be a . prefix, most systems 'hide' these files from general view when you list for example `ls -l` won't show a .file only `ls -la` will.
.files are better used for system configuration for example .gitignore but in this case the details form part of the project and may well not be related to the local system on which the CLI is run.

[2017-01-10 15:19] sammachin commented on #109
I'm concerned about having this as the default and creating files containing security credentials automatically potentially anywhere on the system.
There are plenty of scenarios where a developer may be creating an application and not ever needing the private key, e.g. an inbound only VAPI app. Therefore they could end up with files containing sensitive keys lying around their system.

[2017-01-10 15:20] sammachin commented on #109
What should happen if there is an existing file named `nexmo.json` or whatever we are calling it? overwrite? fail? use alternate name eg `nexmo_1.json`

[2017-01-10 15:22] sammachin commented on #108
Now that we have more than one possible type of application I think `type` should be a mandatory field without a default.

[2017-01-10 15:23] sammachin commented on #91
you can do this with a pipe and grep `nexmo numbers -V | grep [APP-ID]` thats the beauty of CLI you can connect stuff with other utils as well

[2017-01-23 19:00] #38 closed

[2017-01-23 19:01] cbetta opened #112 "Use Travis to publish new releases to NPM"
Currently we are doing this manually but this can be automated with Travis.  The simplest way to do this is by listening to new tags being published.

Benefits:

* We can limit publish access for the gem to the NPM `nexmo` user only
* NPM.js will no longer list a user as the "owner" if a release was pushed by that user
* Every new release will be forced to pass tests
* Every new release will be ta

[2017-01-24 12:05] cbetta commented on #112
More info: https://docs.travis-ci.com/user/deployment/npm/

[2017-01-24 12:10] cbetta opened #113 "Add per project CLI configuration"
This config could hold:

* Preferred URL host
* App key

Related issues:

* https://github.com/Nexmo/nexmo-node/issues/93
* https://github.com/Nexmo/nexmo-cli/issues/109

[2017-01-24 12:14] #83 closed

[2017-01-24 12:28] cbetta opened #114 "CLI enable environment selection"
See https://github.com/Nexmo/nexmo-node/issues/93

[2017-01-24 14:23] #112 closed

[2017-01-30 11:26] adambutler opened #118 "Handle non 2xx status codes from Nexmo API"
When the Nexmo API responds with a non `2xx` status code an appropriate response should be printed.

Perhaps something like:

[code]

<img width="1085" alt="screen_shot_2017-01-30_at_11_17_23" src="https://cloud.githubusercontent.com/assets/1238468/22421176/e47a7100-e6dd-11e6-9661-8e34dc264076.png">

[2017-01-30 11:28] cbetta commented on #118
This is an error in the Node library. Closing and I'll re-open it there.

[2017-01-30 11:34] cbetta commented on #118
Actually I am wrong. This is an issue here. We're not catching the error thrown somehow.

[2017-01-30 11:42] cbetta commented on #118
Ok seems the problem is with the Node library after all: rather than it returning an error object in this instance it's just returning a string with the HTML response.

[2017-01-30 12:01] cbetta commented on #118
@adambutler this has now been fixed. Working to deploy this soon.

[code]

Or:

[code]

[2017-01-30 12:06] cbetta commented on #118
I've also added a specific error for errors with codes >= 500

[code]

[2017-01-30 15:47] #118 closed

[2017-01-31 17:12] cbetta commented on #84
Still an issue.

[2017-01-31 17:21] sammachin commented on #84
The response I got from Eng. was that we just expose libphonenumber in NI basic and there's an on-going debate there about adding M2M numbers https://github.com/googlei18n/libphonenumber/issues/680

[2017-01-31 17:21] cbetta commented on #113
Changes to be made:

- [ ]  Update config loading to check BOTH local and global `.nexmorc`. This way we could have API keys in `~/.nexmorc` and host settings in the local `./.nexmorc`.
- [ ] Add a way to write new config to local or global files.
  - [ ] Set: `nexmo config:set key=value`
  - [ ] Unset: `nexmo config:unset key`
  - [ ] List: `nexmo config`
  - [ ] Get: `nexmo config:get key`
  - [

[2017-01-31 17:24] sammachin commented on #84
I think we might have to put some sort of local workaround in the CLI to catch these dutch numbers so that the CLI can be used with them

[2017-01-31 17:28] cbetta commented on #109
I agree with most what's being said here.

Let's focus on the real usecase here  though, and not solutions. Often solutions are simple once you properly understand the usecase.

So, what is the main user story we can come up with? This is my attempt:
------------

Use case:

* As an app developer, I want to be able to use the CLI to quickly update my application details
* in order to make changes

[2017-01-31 17:31] sammachin commented on #109
The app ID and private Key for a given app are not needed by the CLI itself to manage application level config that is still currently all done with APIKEY and SECRET although may well move to its own JWT/Private key in the future.

[2017-01-31 17:33] cbetta commented on #109
@sammachin thanks for clarifying. So @leggetter what really is the use case? Can you help describe it a bit more structured?

[2017-01-31 17:33] cbetta commented on #84
@sammachin so what would that look like?

[2017-01-31 17:39] cbetta commented on #113
Remaining questions:

* Currently `nexmo setup` writes to a global file, and `nexmo setup --local` to a local file. This would be opposite to `nexmo config:set` as proposed.
* What should be done if there's no global file but there is a local file and someone sets new config?

[2017-02-01 15:55] sammachin commented on #84
basically a regex thats checked before the NI call and locally returns the country. at the moment  its just the dutch M2M numbers which are +31 970 XXXX XXXX so I _think_ the regex would be ^31970\d{8}$

So some sort of function in the code that checks if the number matches the regex and returns NL first and if there's no match falls through to doing an NI check.
Ideally structure it such that we

[2017-02-01 15:58] cbetta commented on #84
That sounds straightforward. I'll have a look at it.

[2017-02-02 23:50] leggetter opened #122 "Updating `nexmo numbers:list` to provide paging information in output"
Via support:

[2017-02-03 10:22] cbetta commented on #122
@leggetter so there's some thought that has gone into this.

In general, any command without `-v` returns something that can be easily parsed/piped into another method.

So in the case of `numbers:list` it just returns numbers, which you can then parse to find the right numbers, etc:

[code]

By adding `-v` to a method we do not just add more info, but also more UI to the response:

[code]

------

[2017-02-03 10:50] leggetter commented on #122
Really good point and good suggestion.

I think all commands should behave in the same way. If one of the goals is to ensure the output can be piped into another command then sending the verbose output by default makes that more difficult.

Would adding a line to the start or end that had paging information be a hinderance to this goal? It would mean it'd have to be stripped, but I'd assume that's

[2017-02-03 10:57] cbetta commented on #122
Regarding the aside, that's a bug ;)

Regarding the main issue: yeah not sure. It would have to be stripped indeed. It would also break backwards compatibility massively for anyone currently using the CLI in this way.

[2017-02-03 10:59] cbetta commented on #122
Alternative idea:

Let's up the default page size for the CLI to the max. This means only people with a lot of numbers will have this issue, which is a pretty small group of people I guess?

[2017-02-03 11:00] cbetta commented on #122
This is also related to #51

[2017-02-03 11:29] leggetter commented on #113
API key and secret are account level credentials where as application ID and public/private keys are Nexmo application level config entities. Page size is a CLI specific thing. This proposed solution is suggesting adding a way of overwriting account/global config at an application level and also allows some CLI config to be set in the same place 🤔

I'm a little concerned about merging account, CLI

[2017-03-08 21:49] sammachin commented on #84
We have a similar issue thats just arisen with using the CLI to set up linking for shortcodes, (eg 61234) There isn't a pattern that we can use to determine the shortcode as potentially the same shortcode could exist in 2 countries as a different address.

As a workaround for thie and the NL issue along with any other 'invald' number formats could we look to see if the number starts with 2 alpha c

[2017-03-09 08:24] sammachin commented on #84
thinking a bit more about this I think just providing an optional `--country_code` flag on the `number:buy` and `link:x` functions would be the best option, we already have that flag on buy but it doesn't seem to skip the insight function at the moment

[2017-03-09 09:40] cbetta commented on #84
@sammachin agreed, that seems to be the way to go.

[2017-03-09 11:47] sammachin commented on #122
I like this idea of upping the default to the max in a request, I think its 100?

[2017-03-09 11:50] sammachin commented on #51
As per #122 I'd be happy with having the default as the max size

[2017-03-21 00:04] leggetter opened #123 "Update to use nexmo-node v2.0.0 and check error callbacks"
The Nexmo Node library [v2.0.0](https://github.com/Nexmo/nexmo-node/releases/tag/v2.0.0) has been updated to provide more information in the `error` callback. It is now in the format:

[code]

Any existing checks should be changed from directly looking at properties on the `error` object to checking `error.body.{property}`.

The addition of the `statusCode` property may also be useful in better de

[2017-03-21 15:39] cbetta commented on #108
@sammachin @kapekost the problem for this actually lies in the Node library, and the docs:

https://github.com/Nexmo/nexmo-node/blob/bc368fc286e1b5a473f25728f6beb117615484be/src/index.js#L359

https://docs.nexmo.com/tools/application-api/api-reference#urparameters

Currently, both say that the only valid param is 'voice', and it's enforced in the SDK as such. I assume there are more, undocumented

[2017-03-21 15:53] #51 closed

[2017-03-21 15:53] #84 closed

[2017-03-21 15:55] #122 closed

[2017-03-21 15:56] #91 closed

[2017-03-21 15:56] #107 closed

[2017-03-21 15:58] kapekost commented on #108
afaik only 'rtc' type is to be added, but also will require the callback urls to be optional

[2017-03-21 16:01] cbetta commented on #108
@kapekost hmmm, that makes things a bit messy.

Can you actually change an app from 1 type to the other? Is that a realistic thing?

[2017-03-21 16:03] kapekost commented on #108
@leggetter might have a better insight to this, or maybe just a respond saying that the type is not changed would be ok for now

[2017-03-21 18:36] cbetta commented on #123
Hey @leggetter, it's a good step but I'm not sure it's making things much better yet for the CLI.

For example, this is my current check:

[code]

So let's break this down:

### Check for an `error.message`

This is still in place I think when the server [throws a 500](https://github.com/Nexmo/nexmo-node/blob/34158edfb8562814cda0a1681e27eb937ba667e6/src/HttpClient.js#L114).

### Check for an `erro

[2017-03-21 18:42] cbetta commented on #123
With this in place, my code could just change to:

[code]

Now this is a bit of a weird use case, but here is a more realistic example:

[code]

Currently the error/success switch is a lot more iffy.

This would ideally also make eventual Promises a lot easier:

[code]

[2017-03-22 14:23] sammachin opened #131 "Item counts are wrong in -v for 0.3.3"
Now that we are showing up to 100 results per query the output command at the top of the list still says 'Results 1-10 of X'

[code]

[code]

[2017-03-22 14:25] sammachin opened #132 "app:numbers only searches first 10 numbers"
I have 46 numbers on my account,

Running an `app:numbers` command for an app ID returns no numbers if the linked ones are outside the first 10 results,

Works fine for numbers in the first 10
[code]

[2017-03-22 17:18] #108 closed

[2017-03-22 17:18] #131 closed

[2017-03-22 17:19] #123 closed

[2017-03-22 17:34] #132 closed

[2017-05-24 13:37] tommorris opened #136 "Duplication between number:update and link:app"
There is duplication of functionality between two commands in `nexmo-cli`:

[code]

`number:update` allows you to link a number to an application but is less clear on how you do it compared to the `link:` methods.

The help page says `number:update [options] <number>` while our examples have it the other way around - `number:update <number> [options]`.

There's a fair few `--` arguments that aren'

[2017-05-24 14:05] sammachin commented on #136
The description for number update should be changed to `Configure the handling of a number` or something as that allows you to link to app, sms, vxml or tel

[2017-05-26 11:42] cbetta commented on #136
So there's 2 things happening here:

1. The description for `number:update` is wrong, as it can do more than that.
2. `link:*` is mostly a convenience wrapper around `number:update`

The solution would be to fix the description for `number:update`

[2017-06-13 14:25] AlexLakatos opened #141 "Split out multipe aliases into separate commands"
Commander doesn't support multiple aliases right now. There is at least one instance of using multiple aliases for a command, i.e. `number:buy`. Make sure we're not trying to do multiple aliases throughout the code, and split out multiple aliases instances into separate duplicated commands to accommodate for multiple aliases.

[2017-06-13 16:37] AlexLakatos opened #143 "Normalize command names"
This is a meta issue, tracking conventions for the CLI

[ ] - all commands should be plural
[ ] - map `:list` to the default single word command

[2017-06-13 17:01] cbetta commented on #143
I don't agree with this. All commands should be usable, and seeing as people will forget if it's number:list or numbers:list, it's useful for both to exist.

[2017-06-13 17:04] leggetter commented on #143
As a comparison, Heroku is strict about this and it's a good CLI.`

[code]

vs.

[code]

[2017-06-13 17:07] cbetta commented on #143
@leggetter sure, so the 2 options are to either support multiple commands for one action, or to be strict and have decent fallback. We've gone the former way so far and we shouldn't drop it without understanding why it's there.

I'm all open to the latter option, but this means adding some graceful fallback for these kind of typos, as well as bumping the major version for removing so much backward

[2017-06-13 19:34] leggetter commented on #143
Agreed.

To be clear: Reason for this issue are:

* maintaining the original way seems like overhead and results in mistakes as we've just seen See #14
* `nexmo help` shows `apps:list` and `app:create`. Is this more intuitive or should be be consistent with singular/plural the prefix?

It could be that we were just unlucky with the recent `numbers:list` problem and it could be better fixed by actu

[2017-06-13 21:00] cbetta commented on #143
@AlexLakatos just wanted to apologise for possibly being short and grumpy, no such thing was intended. I was at a conference abroad and answering quickly and to the point and I just realised I might have sounded a bit rude. I totally love that someone is trying to improve things, and all I wanted to do was provide some background.

[2017-07-04 09:40] nzmark opened #147 "11-digit Malaysian numbers are not accepted for NI"
### Steps to reproduce
nexmo insight advanced 601161182661

### Expected behavior
Number insight analysis of the number

### Actual behavior
`Number can contain digits and may include any or all of the following: white space, -,+, (, ).`

Note that this is probably because libphonenumber has not been updated to recognise 11-digit Malaysian numbers

### System configuration
**Node version**:

**NPM

[2017-08-04 11:44] sammachin commented on #143
The original spec had `number` and `numbers` as an alias, because depending on what you are doing the plural makes sense to read the command so `number:update` but `numbers:search` however it shouldn't matter if you use `number` or `numbers` in any command, same for apps

It might make the code more complex but it makes the product more usable IMO

[2017-08-04 11:46] sammachin commented on #106
Another useful feature would be to validate the timestamps and returning human readable timestamps (in GMT)
Bonus points for being able to test if a JWT is currently valid eg the iat is in the past and the exp is in the future

[2017-08-04 11:48] sammachin commented on #106
In terms of validating against public keys it would be better to fetch the public key from the API for applications rather than asking the user to specify it, this is a nice way then to check that the user hasn't got their keys mixed up between what they have locally and what nexmo has stored for that app id
Just spent about 30mins helping a user with that problem!

[2017-09-06 10:40] tommorris opened #148 "Verify interactive example"
It'd be useful to have an interactive example for Verify built into the CLI.

Something like this:

[code]

Or if they chose to skip.

[code]

The purpose of this is to enable developers to more easily test the Verify API to see if it matches the needs of the developer (or their employer etc.).

[2017-09-06 11:21] sammachin commented on #148
Seems like a good idea but it shouldn't be interactive, the rest of the CLI isn't and its designed as an admin tool rather than a testing tool.

But having several commands for each stage seems like a good idea so
nexmo verify:start [NUMBER] [BRAND] - returns the ID
nexmo verify:code [ID] [CODE] - checks the code against the ID and returns pass/fail
nexmo verify:skip [ID] - skips the next stage
ne

[2018-01-03 16:28] thisislondon opened #153 "In-app Messaging Preview for JavaScript fails because CLI Beta generates invalid JWT"
### Steps to reproduce
Nexmo In-app Messaging Preview, JavaScript (web) Quickstart, is invalid because the CLI (beta version: nexmo-cli@beta) is generating a JWT token that's incompatible with the quickstart guide.

The line in the docs of note is (before we replace the "jamie" and "YOUR_APP_ID") :  `USER_JWT="$(nexmo jwt:generate ./private.key sub=jamie exp=$(($(date +%s)+86400)) acl='{"paths": {

[2018-01-03 17:54] AlexLakatos commented on #153
Hi @thisislondon,

IIRC, the docs don't say to replace `jamie`, just `YOUR_APP_ID`. I can't reproduce the issue. Can you please give me some more info?

1. What's your CLI version? `nexmo --version` should be 0.4.3-beta-2
2. Can I have a look at part of your JWT? If you could go to https://jwt.io/, use your JWT in the debugger there and then paste back the payload part of it, that would help me de

[2018-01-03 18:53] thisislondon commented on #153
I created and used a user who was not called jamie, therefore I replaced it.

$ nexmo --version
0.4.3-beta-2

[2018-01-08 11:59] kyooryoo opened #154 ""Cannot read property" error when deleting applications"
### Steps to reproduce
delete an application, such as:
nexmo ad fd134757-d269-47dd-bcd8-f4dc634f1fcc --confirm

### Expected behavior
returns "Application deleted"

### Actual behavior
/usr/local/lib/node_modules/nexmo-cli/lib/validator.js:46
      } else if (_response['error-code'] && _response['error-code'] !== '200') {
                                    ^

TypeError: Cannot read property 'erro

[2018-01-08 12:01] kyooryoo commented on #154
I added _response to the following two if clauses and it seems solved the problem on my computer
        else if (**_response** && _response['error-code'] && _response['error-code'] !== '200') {
        this.emitter.error(_response['error-code-label']);
      } else if (**_response** && _response['status'] && _response['status'] !== '0') {
        this.emitter.error(_response['status_message']);

[2018-01-08 12:19] kyooryoo opened #155 "missing 'app_id' when showing app numbers"
I guess nexmo cli does not allow implicitly show numbers for all applications. So app_id is mandatory and this line of sample code in README of this repo should be modified to have an app_id as its argument.

### Steps to reproduce
nexmo app:numbers --verbose

### Expected behavior
show the numbers of an application

### Actual behavior
error: missing required argument 'app_id'

### System configu

[2018-01-10 20:04] AlexLakatos commented on #154
Thanks for letting us know @kyooryoo. I'll have a look myself and add the `_response` safeguard in there.

[2018-01-10 20:05] AlexLakatos commented on #155
Thanks for letting us know. I'll have a look.

[2018-01-22 16:06] #154 closed

[2018-01-22 16:06] #155 closed

[2018-01-22 16:19] AlexLakatos commented on #154
Thanks for logging this issue. It has now been fixed in v0.3.11.

[2018-01-22 16:19] AlexLakatos commented on #155
Thanks for logging this issue. It has now been fixed in v0.3.11.

[2018-02-01 08:36] mheap opened #157 "method failed error when purchasing number"
### Steps to reproduce
Run with insufficient credit

[code]
### Expected behavior
An error message saying that I have insufficient credit

### Actual behavior
`method failed`

[2018-02-01 08:38] leggetter commented on #157
What's the --verbose output?

On Thu, 1 Feb 2018, 08:36 Michael Heap, <notifications@github.com> wrote:

[2018-02-01 08:39] mheap commented on #157
I can't reproduce as I have credit on my account now. Will investigate more next week

[2018-02-01 08:40] leggetter commented on #157
Ah, that's good insight though 👍

On Thu, 1 Feb 2018, 08:39 Michael Heap, <notifications@github.com> wrote:

[2018-02-01 09:19] AlexLakatos commented on #157
I'll setup an account and burn through the credit, try to investigate it. Any idea what happens if you try to do other things without credit (i.e. send an sms)?

[2018-02-01 09:22] mheap commented on #157
Afraid not. I think we need to do an end to end set of tests using an account with no credit

[2018-02-27 19:10] ruXlab opened #158 "user:create ignores account configuration"
### Steps to reproduce
I was trying to create a user using nexmo-cli(beta):

[code]

I double checked configuration, it seems working fine for other type of commands:
[code]

I have tried to remove `~/.nexmorc` file and setup client again using `nexmo setup XXX YYY`. Unfortunately it didn't help

### System configuration
**Node version**: `v4.2.6`
**NPM version**: `3.5.2`
**Operating system**: Ubu

[2018-02-27 19:13] mheap commented on #158
Hey @ruXlab, there are two config files. `~/.nexmorc` contains your API key and secret which is what's used for `nexmo balance`.

You need to create an application (which will create `.nexmo-app`) and run `nexmo user:create` in the same directory. This file contains an application ID and private key, so that you don't have to keep passing those values in for every command

[2018-03-03 15:59] ruXlab commented on #158
Thank you for clarification
It would be better if error says something like `create application first` as suggested command `nexmo setup` will not help to resolve issue

[2018-04-12 09:08] sammachin opened #159 "Remove vxml"
With the shutdown of the call API the `link:vxml` and `unlink:vxml` commands should be removed as it is no longer used.

There may be other places that it is referenced for example in the verbose numbers list screen where it shows if a number is linked to vxml but I would suggest leaving this for now as users may want to see that a number is still linked to vxml in order to identify changes.

[2018-06-06 13:55] kyooryoo opened #160 "nexmo balance returns error after upgrading node to v10.2.1"
### Steps to reproduce
Upgrade node to version 10.2.1
Upgrade nexmo-cli to latest version
run "nexmo balance"

### Expected behavior
return current balance value

### Actual behavior
return current balance value and an error message:
/usr/local/lib/node_modules/nexmo-cli/lib/response.js:53
this.emitter.log(Number(response.value.toFixed(2)) + 'EUR', response.value + ' EUR');

### System configurati

[2018-06-15 04:07] phukhanhlee commented on #160
nexmo balance
500 EUR
/usr/local/lib/node_modules/nexmo-cli/lib/response.js:53
      this.emitter.log(Number(response.value.toFixed(2)) + ' EUR', response.value + ' EUR');
                                       ^

TypeError: Cannot read property 'value' of undefined
    at Response.accountBalance (/usr/local/lib/node_modules/nexmo-cli/lib/response.js:53:40)
    at IncomingMessage.<anonymous> (/usr

[2018-06-15 09:41] AlexLakatos commented on #160
It seems there are a few issues with the latest node release. I'll take a look at it. Thanks for reporting this!

[2018-06-18 21:50] AlexLakatos commented on #160
This is being fixed in #161 and released in v0.3.12

[2018-06-19 15:09] AlexLakatos opened #162 ""exp" should be a number of seconds when generating JWTs"
### Steps to reproduce
nexmo jwt:generate ./private.key sub=alice exp=9000 application_id=APP_ID

### Expected behavior
JWT is generated

### Actual behavior
Error: "exp" should be a number of seconds

### System configuration
**Node version**: v6.9.1

**NPM version**: v6.1.0

**Operating system**: MacOS

[2018-06-19 19:37] #162 closed

[2018-06-19 19:37] #160 closed

[2018-07-04 13:08] AlexLakatos commented on #158
Fixed on the beta branch now, can you please install the latest beta?
`npm install -g nexmo-cli@beta`

[2018-07-04 13:08] #158 closed

[2018-07-24 18:20] tchan408 opened #165 "Recreating a user with the same name returns an irrelevant error message."
### Steps to reproduce
Use the command
nexmo user:create name=user1 (or any other use name)

enter again the command with the same user name
nexmo user:create name=user1
we get the error message "TypeError: Cannot read property 'id' of null
at Response.userCreate "

### Expected behavior
It should display a relevant error message.

### Actual behavior
It gets an exception error.

### System config

[2018-07-24 20:16] #165 closed

[2018-07-25 13:14] lornajane opened #167 "Better error message for failed app link"
### Steps to reproduce

`nexmo app:link [number that I own] [wrong app ID]`

### Expected behavior

Error message saying "couldn't link to that app" or something.

### Actual behavior

Error message: `method failed`

Same error message in verbose mode

### System configuration
**Node version**: v9.3.0

**NPM version**: 6.1.0

**Operating system**: Ubuntu 18.04

(I'm happy to attempt a patch if any

[2018-07-25 15:53] mheap commented on #167
Sadly there's no easy way to do this as it comes from the API. See https://github.com/Nexmo/nexmo-php/blob/master/src/Numbers/Client.php#L229-L238 for more information

[2018-08-13 09:17] lornajane opened #168 "Support partial app IDs"
### Steps to reproduce
Looked at my apps: `nexmo apps`
Wondered which numbers were linked for a specific app: `nexmo app:numbers ....` then I typed a few characters of the start of the app ID. Turns out, you need the whole thing. Not very easy from CLI.

### Expected behavior
We should only require enough characters to uniquely identify which app we mean - similar to what git does with revision nu

[2018-08-14 15:08] sammachin opened #169 "Display App Names in Verbose Numbers List"
When you do a `nexmo numbers -v` instead of the column of App UUIDs I would love to see the name of the app or perhaps both?

When I’m looking at my list of 30+ numbers and trying to work out which app I can steal a number from its very tedious to have to take each UUID and paste it into another `nexmo as [UUID]` command

[2018-10-13 13:05] Ricool06 commented on #168
Hey, @lornajane I'll give this a shot. :+1:

[2018-10-13 14:05] AlexLakatos commented on #168
Yes, that's acceptable.

[2018-10-13 16:34] AlexLakatos commented on #136
Yes, I think it would

[2018-10-13 23:58] Ricool06 commented on #168
Pull request is up, forgot to say. Feedback welcome 😁

[2018-10-16 19:54] brute4s99 commented on #136
Please close this issue if not open anymore
@AlexLakatos

[2018-10-16 20:13] brute4s99 commented on #141
I would like to work on this!

[2018-10-24 20:04] SeanPrashad commented on #159
Hey! I've opened a PR for this and would love a review if possible 😄

[2018-10-30 15:46] aslafy-z opened #186 "npm `prepublish` scripts are deprecated"
As of npm@5, `prepublish` scripts are deprecated.

Use `prepare` hook instead to keep the current behavior.
However I recommend using the `prepublishOnly` hook to build the project only before publishing, and not after each `npm install` runs.

[2019-01-08 10:00] AlexLakatos opened #196 "Support host overriding for both api.nexmo and rest.nexmo"
### Steps to reproduce
Tell us what you did

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### System configuration
**Node version**:

**NPM version**:

**Operating system**:

[2019-02-22 19:05] Namr-ta opened #197 "nexmo ml <conversation-id> doesn't show member id"
### Steps to reproduce
Tell us what you did
Run the command -- nexmo ml <conversation-id>

### Expected behavior
Tell us what should happen

URL- https://developer.nexmo.com/client-sdk/in-app-messaging/guides/simple-conversation
According to documentation it should give member id in below format:-
name                                     | user_id                                  | user_name | sta

[2019-02-22 23:47] AlexLakatos commented on #197
Thanks for submitting this, I'll take a look.

[2019-02-27 20:20] Namr-ta opened #198 "nexmo cc cli issue"
### Steps to reproduce
Tell us what you did
When i use CLI to create a conversation:

### Expected behavior
Tell us what should happen

nexmo cc name="bridge" display_name="bridge_name"
{uuid: "CON-75b81752-4512-4798-9dcd-c72a57c8c075", name: "bridge", display_name: "bridge_name", timestamp: {…}, sequence_number: 0, …}

### Actual behavior
Tell us what happens instead

The conversation has propert

[2019-03-13 15:12] brittBarak opened #199 "[Feature] list users in a nexmo application"

[2019-04-30 21:27] tchan408 opened #201 "Returns empty list of members in a conversation when there are actual members"
### Steps to reproduce
npm install nexmo-cli@beta -g
...../.nvm/versions/node/v11.7.0/bin/nexmo -> ...../.nvm/versions/node/v11.7.0/lib/node_modules/nexmo-cli/lib/bin.js
+ nexmo-cli@0.4.8-beta-1
updated 2 packages in 0.775s
--------
nexmo -V
0.4.8-beta-1
-----------
nexmo ml CON-7773b084-859a-4a74-a256-ff519b5a44ae
No members
-------------
curl -X "GET" "https://api.nexmo.com/beta/conversations/CO

[2019-05-01 09:34] AlexLakatos commented on #201
Hi @tchan408, I can't seem to reproduce your issue. Can you try again, maybe check the private_key / app_id combo stored in your `.nexmo-app` file or try with a clean app?

<img width="1002" alt="Screen Shot 2019-05-01 at 10 32 06" src="https://user-images.githubusercontent.com/690132/57012099-b0950e80-6bfc-11e9-9b73-d6b540d92d4d.png">

[2019-05-06 21:25] tchan408 commented on #201
Thank you Alex!

1) Your reply made me realize that I did not have .nexmo-app file. I forgot since I created a new project and created the voice app using CD and not CLI. I did not remember that CLI needs a also .nexmo-app file (per https://developer.nexmo.com/client-sdk/in-app-messaging/guides/simple-conversation) which information is not yet in https://github.com/Nexmo/nexmo-cli/blob/master/READ

[2019-05-06 21:25] #201 closed

[2019-06-17 06:24] #186 closed

[2019-07-01 09:45] lornajane commented on #59
See https://github.com/nexmo/cli-standards for the current working standards

[2019-07-01 09:45] #59 closed

[2019-09-09 11:48] AlexLakatos opened #204 "Error when creating messages applications"
### Steps to reproduce
nexmo app:create "Send Receive SMS" YOUR_NGROK_URL/webhooks/inbound-message YOUR_NGROK_URL/webhooks/message-status --keyfile=private.key --type=messages

### Expected behavior
It works.

### Actual behavior
[code]

### System configuration
**Node version**: v10.10.0

**NPM version**: 6.9.0

**Operating system**: Mac

[2019-09-23 14:40] AlexLakatos commented on #204
Fixed in #205, released in alpha.

[2019-09-23 14:40] #204 closed

[2019-10-07 08:59] pardel opened #207 "Prompt when creating a new app in a folder already hosting a .nexmo-app"
### Steps to reproduce
In a folder that already contains a .nexmo-app file:

    `nexmo app:create`

### Suggestion
Give the user a chance to prevent a .nexmo-app file from being overwritten.
Maybe we should have a prompt right at the beginning of the interactive mode and a `--overwrite` otherwise.

[2019-10-23 03:31] MichaelJolley opened #209 "Define nexmo setup structure in error message"
While going through several tutorials, the steps did not mention running `nexmo setup` between `npm install nexmo-client` and `nexmo app:create ...`.

This resulted in receiving the following error message:

While the tutorials have been updated to reflect this step, it would have been helpful if the error itself gave the full parameters of the command. As in:

This would prevent the need to resea

[2019-10-25 23:49] MichaelJolley commented on #209
@AlexLakatos, I'd love your feedback on this when you've got a minute.

https://github.com/Nexmo/nexmo-cli/blob/69d5a0b0a5e24a459a8eb0217191511eb15e7251/src/client.js#L45-L53

One issue I could foresee is if the `nexmo setup` signature ever changed we'd have to update this code as well.

[2019-11-28 16:31] #209 closed

[2020-01-02 00:07] Chael1216-Hash commented on #198
Jhon Michael alburo Tababa

[2020-02-04 17:57] #136 closed

[2020-03-17 16:39] sammachin opened #217 "price:country fails"
### Steps to reproduce
`nexmo price:country US`

### Expected behavior
Returns a Price for SMS to the US

### Actual behavior
Got a 404

It seems somewhere in history the pricing API was updated to support multiple types, sms sms-transit and voice, although nexmo-node seems to have been updated this command in the CLI hasn't. Its still a useful command as `price:sms` and `price:voice` require a ph

[2020-03-17 16:47] AlexLakatos commented on #217
Thanks for filing this, I'll look into it.

[2020-05-06 13:58] dragonmantank opened #218 "Windows Powershell - "running scripts is disabled on this system" when running `nexmo`"
### Steps to reproduce
On Windows 10:
* Install the latest version of NodeJS from https://nodejs.org/en/
* Install the CLI with `nexmo-cli@beta -g`
* Run `nexmo`

### Expected behavior
I should see the help output from the `nexmo` command.

### Actual behavior
[code]

This normally occurs when the remote script isn't trusted. I could get it to run by changing my Execution Policy to "RemoteSigned",

[2020-08-11 10:01] phoefel opened #222 "Creation of application fails when only messages capability is needed."
### System Configuration
Have latest version of the cli
[code]
### Steps to reproduce
Creation of an application fails on execution of following command
**1)**
[code]
fails with
[code]
**2)**
changing the command to
[code]
fails with
[code]

No application gets created.
Since Nexmo documention is all over the place can you either provide the correct variant to the above command or fix the underlyi

[2020-08-11 16:26] lornajane commented on #222
The messages functionality is only available in the **beta** version of the API. I would love to know if we missed this (rather important) detail from our docs, looking at https://developer.nexmo.com/messages/tutorials/send-sms-with-messages/prerequisites it does have the Beta API there, was there somewhere else where it is missing?

Please let us know if using the beta version of the API gives be

[2020-08-12 13:51] phoefel commented on #222
yes , my fault . In my earlier experiments had hit into an issue with the beta cli and had switched to stable release for that (and then forgot about that !).

yes the issue does not exist when using the beta cli , which docs clearly mention to use !

[2020-08-12 13:51] #222 closed

[2020-09-06 16:25] iMichaelOwolabi opened #223 "Hide API_SECRET by default"
#### Note:
This issue is part of my Vonage Voyagers application process

### Background
Currently, after a successful Nexmo (Vonage) CLI setup, when the account information command is run, it shows both the **api_key** and **api_secret**

[code]
<img width="393" alt="Screenshot 2020-09-06 at 5 15 10 PM" src="https://user-images.githubusercontent.com/20207295/92330170-cb835880-f064-11ea-8be0-890aaa

[2020-09-07 09:46] phazonoverload commented on #223
Hiyo! I work on the Developer Community team who run the Voyagers program - thanks so much for submitting this issue. For the sake of your Voyagers application I am happy with this exercise and I'll follow-up via email in the next few days. I'll leave this issue as-is for the team who work on the CLI to respond to in due course.

[2020-10-02 23:16] WilliamHYZhang commented on #86
Going to attempt to work on this for Hacktoberfest 👍

[2020-10-20 11:19] efiShtain commented on #217
@AlexLakatos
Appears that there is a missing parameter in the call to request.js line 41

[code]

the call is passing 2 parameters where as

[code]

in the nexmo-code repo is expecting 3 parameters (type is missing)
If you can elaborate that I'll open a pull request and fix it (type should be sms I guess)

[2021-01-06 17:06] alfonsoarias opened #233 "Error in Validator.Response : Method Failed"
### Steps to reproduce
nexmo link:app 17869xxxxxx 6rtyh65h-3a2f-4d87-a66d-11c624c3a1ff

### Expected behavior
Number updated
The pHone Number should be assigned to the application
### Actual behavior
Just not link the app with phone number . using -d parameters shows that error is in Validator.Response:
Body: undefined
info: response ended: 420
Validator.response() - Error:
{
  body: { 'error-code

[2021-01-19 15:20] #223 closed

[2021-01-19 16:18] kellyjandrews commented on #233
Trying to find what is the cause here, but unable to reproduce this.  Are you still experiencing this?

[2021-01-19 16:45] alfonsoarias commented on #233
No thanks

Alfonso Arias

________________________________
From: Kelly Andrews <notifications@github.com>
Sent: Tuesday, January 19, 2021 4:19 PM
To: Nexmo/nexmo-cli <nexmo-cli@noreply.github.com>
Cc: alfonsoarias <ALFONSOARIAS@HOTMAIL.COM>; Author <author@noreply.github.com>
Subject: Re: [Nexmo/nexmo-cli] Error in Validator.Response : Method Failed (#233)

Trying to find what is the cause here, b

[2021-01-19 18:54] #233 closed

[2021-08-25 09:25] shadowspawn commented on #141
FYI, support for multiple aliases was added in Commander 5.1: https://github.com/tj/commander.js/releases/tag/v5.1.0

[2021-08-30 16:00] #141 closed

[2022-06-02 08:25] mend-for-github-com[bot] opened #243 "nexmo-2.9.1.tgz: 8 vulnerabilities (highest severity is: 9.8)"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>nexmo-2.9.1.tgz</b></p></summary>

<p></p>
<p>Path to dependency file: /package.json</p>
<p>Path to vulnerable library: /node_modules/json-schema/package.json</p>
<p>

<p>Found in HEAD commit: <a href="https://github.com/Nexmo/nexmo-cli/commit/dbc